@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;

}
nav ul li{
    padding: 0 12px;
}
nav{
    font-family: 'Varela Round', sans-serif;;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 45px;
    background-color: black;
    color: white;
    align-items: center;
}
.brand img{
    width: 35px;
    padding: 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    height:100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}
.container{
    min-height: 71.2vh;
    background-color: black;
    color: white;
    font-family:'Varela Round', sans-serif;
    display: flex;
    margin : 23px auto;
    padding:12px;
    background-image: url(bg4.jfif);
    width: 65%;

}
#Myprogressbar{
    width:130vh;
    cursor: pointer;

}
.icons{
    margin: 10px;
}
.icons i{
     cursor: pointer;
}
.songitem{
    padding: 2px;;
    background-color: aliceblue;
    height: 35px;
    display: flex;
    width: 107%;
    color: black;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin: 3px;
    
}
.songitem img{
    width: 43px;
    border-radius: 12px ;
}
h1{
    padding: 6px;
}
.timestamp{
    margin: 0 15px;
    justify-content: space-between;
}
.timestamp i{
    cursor: pointer;
}
.songitemcontainer{
    padding-top: 43px;    
}
.songinfo{
    position: absolute;
    left: 20vw;
    font-size: larger;
}
@media (max-width:1070px){
    .body .nav .bottom .container{
        display: block;
    }
}